<mat-card>
    <div class="profile">
        <div fxLayout="row wrap" fxLayoutGap="15px grid" class="radioBtn">
            <div fxFlex="100%">
                <h1>Technician Profile</h1>
            </div>
            <div class="userInformation">
                <div fxFlex="20%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="start center">
                    <div class="profileImg">
                        <img src="/assets/images/profile.png" alt="image">
                    </div>
                </div>
                <div fxFlex="80%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%">
                    <div class="personalInfo">
                        <div fxLayout="row wrap" fxLayoutGap="15px grid">
                            <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                <h1>Marcus Smith</h1>
                            </div>
                            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                                <p> <span class="profileInfo">Email : </span> marcus@gmail.com</p>
                            </div>
                            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                                <p><span class="profileInfo">Phone : </span> 1150990090</p>
                            </div>
                            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                                <p><span class="profileInfo">User-type : </span>Technician</p>
                            </div>
                            <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                                <p><span class="profileInfo">Status : </span> Active</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<!-- <div class="profile">
    <div class="profileInner">
        <div class="wrapper">
            <mat-card>

            </mat-card>
            <div class="leftWrapper">
                left
            </div>
            <div class="rightWrapper">
                right
            </div>
        </div>
    </div>
</div> -->