.jobPacket {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 22;
    ::ng-deep .mat-checkbox {
        .mat-checkbox-inner-container {
            .mat-checkbox-frame {
                border-color: #fff;
            }
        }
        &.mat-checkbox-checked {
            .mat-checkbox-background {
                background-color: transparent;
            }
        }
    }
    
}