/* color variables */

$primary-color:#007bb2;
$primary-color-100:#007bb261;

:root {
   --font-family-poppinsbold: 'poppinsbold';
   --font-family-poppinsmedium: 'poppinsmedium';
   --font-family-poppinsregular: 'poppinsregular';
   --font-family-poppinssemibold: 'poppinssemibold';
  }
   