<mat-card>
    <div class="technicianSchedule">
        <h1>Schedule</h1>
        <div class="custom-table technicianCalender">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="schedule">
                    <th mat-header-cell *matHeaderCellDef> Schedule </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-flat-button color="primary" [matMenuTriggerFor]="one">
                            <p>Steve Smith</p>
                            <p>{{element.schedule}}</p>
                        </button>
                        <mat-menu #one="matMenu" class="calendarMenu">
                            <div class="dFlex">
                                <p class="title">Order ID :</p>
                                <p class="value"><a href="javascript:void(0)" routerLink="/appoinment-detail"
                                        mat-dialog-close>#55452</a></p>
                            </div>
                            <div class="dFlex">
                                <p class="title">Type :</p>
                                <p class="value">Retail</p>
                            </div>
                            <div class="dFlex">
                                <p class="title">Customer Name :</p>
                                <p class="value"><a href="#">Carol Liam</a></p>
                            </div>
                            <div class="dFlex">
                                <p class="title">Total Time :</p>
                                <p class="value">3 Hours</p>
                            </div>
                            <div class="dFlex">
                                <p class="title">Helpers :</p>
                                <p class="value">Steve, Carol, Liam</p>
                            </div>
                            <div class="dFlex desc">
                                <p class="title">Address :</p>
                                <p class="value">1108 23rd Ave Seattle, Washington, USA</p>
                            </div>
                            <div class="dFlex desc">
                                <p class="title">Short Description :</p>
                                <p class="value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                                    asperiores debitis obcaecati minus rerum repudiandae.</p>
                            </div>
                        </mat-menu>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</mat-card>