mat-radio-button {
  padding-bottom: 30px;
}
mat-checkbox {
  padding-bottom: 30px;
}
.sig-canvas {
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  font-size: 54px;
}
