<mat-card>
    <div fxLayout="row wrap" fxLayoutGap="15px grid" class="radioBtn" fxLayoutAlign="start center">
        <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
            <mat-card-title>
                <span>Supplier</span>
            </mat-card-title>
        </div>
        <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
            <mat-form-field appearance="legacy">
                <mat-label>Search Supplier</mat-label>
                <input matInput placeholder="Search by Name, Category & Subcategory">
            </mat-form-field>
        </div>
        <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%" fxLayoutAlign="end start">
            <button mat-flat-button color="primary"><span class="material-icons">upload</span> Upload Excel</button>
            <button mat-flat-button color="primary" (click)="openDialog()"><span class="material-icons">add</span> New
                Supplier</button>
        </div>
    </div>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" multiTemplateDataRows>
                <ng-container matColumnDef="button">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button *ngIf="expandedElement != element"
                            [class.expanded]="expandedElement == element" (click)="expandedElement = element">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="expandedElement == element"
                            [class.expanded]="expandedElement == undefined" (click)="expandedElement = undefined">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Name <span class="material-icons">import_export</span> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.Name }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Phone">
                    <mat-header-cell *matHeaderCellDef>Phone <span class="material-icons">import_export</span></mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.Phone }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Category">
                    <mat-header-cell *matHeaderCellDef> Category <span class="material-icons">import_export</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.Category }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Subcategory">
                    <mat-header-cell *matHeaderCellDef> Subcategory <span class="material-icons">import_export</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.Subcategory }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action" >
                    <mat-header-cell *matHeaderCellDef>
                        Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span class="material-icons edit" matTooltip="Edit"
                            matTooltipPosition="below">edit</span>
                        <span class="material-icons delete" matTooltip="Delete">delete</span>
                    </mat-cell>
                </ng-container>

                <!-- Expanded Data -->
                <ng-container matColumnDef="expandedDetail">
                    <mat-cell *matCellDef="let detail">
                        <div class="expandedData">
                            <p><span>Company Name : </span>{{ detail.Company }}</p>
                            <p><span>Address : </span>{{ detail.Address }}</p>
                        </div>
                    </mat-cell>
                </ng-container>
                <!--  -->

             
                <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsToDisplay" matRipple class="element-row"></mat-row>
                <mat-row *matRowDef="let row; columns: ['expandedDetail']"
                    [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
                </mat-row>
            </mat-table>
        </div>

    </mat-card-content>
</mat-card>
