.mat-card-content {
    margin: 20px 0 0;
    .appointmentDesc {
        position: relative;
        p {
            margin: 0 0 5px;
            color: #afafaf;
        }
        h3 {
            margin: 0;
        }
    }
}
