<mat-card>
    <mat-card-title>
        Appointment Detail <span>(#35354)</span>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="15px grid">
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Appointment Create By</p>
                    <h3>Robert</h3>
                </div>
            </div>
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Customer Type</p>
                    <h3>Residential</h3>
                </div>
            </div>
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Customer Name</p>
                    <h3>Jane Doe</h3>
                </div>
            </div>
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Email</p>
                    <h3>doe@gmail.com</h3>
                </div>
            </div>
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Phone Number</p>
                    <h3>(554) 555-4564</h3>
                </div>
            </div>
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Address</p>
                    <h3>1108 23rd Ave Seattle, Washington, USA</h3>
                </div>
            </div>
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>First Hour</p>
                    <h3>$40.00</h3>
                </div>
            </div>
            <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Each Additional Hour</p>
                    <h3>$25.00</h3>
                </div>
            </div>
            <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <mat-divider></mat-divider>
                </div>
            </div>

            <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Short Description</p>
                    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, placeat. Sunt repudiandae quas eveniet quam non error sapiente accusamus, corporis laboriosam atque at modi excepturi voluptate facilis temporibus neque dolores?</h3>
                </div>
            </div>
            <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Medium Description</p>
                    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, placeat. Sunt repudiandae quas eveniet quam non error sapiente accusamus, corporis laboriosam atque at modi excepturi voluptate facilis temporibus neque dolores?</h3>
                </div>
            </div>
            <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="appointmentDesc">
                    <p>Work Detail / Notes</p>
                    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, placeat. Sunt repudiandae quas eveniet quam non error sapiente accusamus, corporis laboriosam atque at modi excepturi voluptate facilis temporibus neque dolores?</h3>
                </div>
            </div>
            

        </div>
    </mat-card-content>
</mat-card>