<div class="signIn">
  <div class="signInner">
     <div class="wrapper">
       <div class="leftWrapper">
         <img src="../../../../assets/images/logo.png" alt="image"/>
       </div>
       <div class="rightWrapper">
          <div class="innerWrapper">
           <h1>Sign In</h1>
           <form class="example-form">
            <mat-form-field appearance="standard">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter Username">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Enter password">
            </mat-form-field>
            <div class="rightCenter mt-30">
              <button mat-button class="btn commonBtn" routerLink="dashboard">Sign In</button>
              <a href="javascript:void(0)">Forgot Password</a>
          </div>
          </form>
          </div>
       </div>
     </div>
  </div>
</div>
