<mat-card>
    <mat-card-title>
        <div fxLayout="row wrap" fxLayoutGap="15px grid" class="radioBtn" fxLayoutAlign="start center">
            <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                <span>Users</span>
            </div>
            <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%"
                fxLayoutAlign="end start">
                <button mat-flat-button color="primary" (click)="openDialog()"><span class="material-icons">add</span>
                    New User</button>
            </div>

        </div>


    </mat-card-title>
    <mat-card-content>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name <span class="material-icons">import_export</span></th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email <span class="material-icons">import_export</span></th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone <span class="material-icons">import_export</span></th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>
                <ng-container matColumnDef="roletype">
                    <th mat-header-cell *matHeaderCellDef> Role Type <span class="material-icons">import_export</span></th>
                    <td mat-cell *matCellDef="let element"> {{element.roletype}} </td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> Active/Inactive </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle></mat-slide-toggle>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="action"> Action </th>
                    <td mat-cell *matCellDef="let element" class="action">
                        <span class="material-icons edit" matTooltip="Edit" matTooltipPosition="below">edit</span>
                        <span class="material-icons delete" matTooltip="Delete">delete</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>