<div class="aside">
  <div class="navbarBrandBox">
    <img src="assets/images/logo.svg" alt="image" />
  </div>
  <div class="sideBarScroll">
    <div class="sideBarMenu">
      <ul>
        <li><a>
            <i class="material-icons"> dashboard</i>
            <span>Dashboard</span>
          </a>
        </li>
        <li  routerLink="/customer-onboarding" (click)="handleClose()"><a>
            <i class="material-icons"> dashboard</i>
            <span>Customer Onboarding</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>