<div class="aside">
  <div class="navbarBrandBox">
    <img src="../../../../assets/images/logo-inner.png" alt="image" />
  </div>
  <div class="sideBarScroll">
    <div class="sideBarMenu">
      <ul>
        <li class="active" routerLink="dashboard"><a>
            <i class="material-icons"> dashboard</i>
            <span>Dashboard</span>
          </a>
        </li>
        <li  routerLink="/customers"><a>
            <i class="material-icons"> dashboard</i>
            <span>Customers</span>
          </a>
        </li>
        <li><a href="#">
            <i class="material-icons"> dashboard</i>
            <span>Service Providers</span>
          </a>
        </li>
        <li><a href="#">
            <i class="material-icons"> dashboard</i>
            <span>Experts</span>
          </a>
        </li>
        <li><a href="#">
            <i class="material-icons"> dashboard</i>
            <span>Admins</span>
          </a>
        </li>
        <li><a href="#">
            <i class="material-icons"> dashboard</i>
            <span>Categories</span>
          </a>
        </li>
        <li><a href="#">
            <i class="material-icons"> dashboard</i>
            <span>Trainings</span>
          </a>
        </li>
        <li routerLink="/jobs"><a >
            <i class="material-icons"> dashboard</i>
            <span>Jobs</span>
          </a>
        </li>
        <li><a href="#">
            <i class="material-icons"> dashboard</i>
            <span>Earnings</span>
          </a>
        </li>
        <li><a href="#">
            <i class="material-icons"> dashboard</i>
            <span>Quick Connect</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>