<div class="customerType">
    <mat-card>
        <div class="typeOfCustomer">
            <div fxLayout="row wrap" fxLayoutGap="15px grid" class="radioBtn">
                <div fxFlex="100%">
                    <div class="heading">
                        <mat-card-title> Type of Customer</mat-card-title>
                    </div>

                    <div class="toggleButton">
                        <span>Retail</span>
                        <mat-slide-toggle [formControl]="customerType" (change)='selectedCustomerType()'>Residential
                        </mat-slide-toggle>
                    </div>

                </div>
            </div>
        </div>

        <div class="searchCustomer">
            <div fxLayout="row wrap" fxLayoutGap="15px grid">
                <div fxFlex="100%">
                    <mat-form-field appearance="legacy" searchCustomer *ngIf="setCustomerType === 'Retail'">
                        <mat-label>Search Retail and Store</mat-label>
                        <input matInput (keyup)="applyFilter($event)"
                            placeholder="Search by Retail Group and Store Name">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" searchCustomer *ngIf="setCustomerType === 'Residential'">
                        <mat-label>Search Customer</mat-label>
                        <input matInput (keyup)="applyFilter($event)"
                            placeholder="Search by Name, Email and Phone Number">
                    </mat-form-field>
                
                </div>
                <div fxFlex="100%">
                    <div class="custom-table"  *ngIf="setCustomerType === 'Retail'">
                        <table mat-table [dataSource]="dataSource " class="mat-elevation-z8" >
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-radio-button color="primary" value="element"></mat-radio-button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name | filter : searchText }} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef> City </th>
                                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div class="custom-table"  *ngIf="setCustomerType === 'Residential'">
                        <table mat-table [dataSource]="dataSource2 " class="mat-elevation-z8" >
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-radio-button color="primary" value="element"></mat-radio-button>
                                </td>
                            </ng-container> 
                                                  
                            <ng-container matColumnDef="retailNname">
                                <th mat-header-cell *matHeaderCellDef>Retail Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.retailNname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="storeNname">
                                <th mat-header-cell *matHeaderCellDef>Store Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.storeNname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef> City </th>
                                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                    </div>
                </div>
                <div fxFlex="100%" fxLayoutAlign="end start">
                    <button mat-flat-button color="primary" routerLink="/customer-onboarding" class="btnNext">Add New
                        Customer</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>