.customerType {
    .typeOfCustomer {
        padding: 20px 0;
        .heading {
            padding: 0 0 15px;
        }
        ::ng-deep .mat-button-toggle-label-content {
            padding: 0 30px;
        }
        ::ng-deep .mat-button-toggle-checked {
            background-color: #007bb2;
            color: #fff;
        }
        .toggleButton {
            display: flex;
            align-items: center;
            span {
                padding: 0 10px 0 0;
                }
            // ::ng-deep .mat-slide-toggle-thumb {
            //     background-color: #007bb2;
            // }
            // ::ng-deep .mat-slide-toggle.mat-checked  {
            //     .mat-slide-toggle-bar{
            //     background-color: rgba(255,64,129,.54);
            //     }
            // }
        }
    }
    .btnNext {
        text-align: right;
        mat-button-toggle {
            padding: 10px;
        }
    }
}
