<h2 mat-dialog-title>Edit Packet Information</h2>
<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Appointment Basic Info</mat-label>
                <textarea matInput>Confirmed - 8:00 AM - 10:00 PM 132, My Street, Kingston, New York 12401. </textarea>
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Job Detail</mat-label>
                <textarea
                    matInput>Electrical, See scope and contract for entirely of work to be performed, PAYMENTS: OSC FEE :$99.00 PAID, Deposit - $934.00 PAID,  </textarea>
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Customer</mat-label>
                <input matInput value="Jane Doe" />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Job Folder</mat-label>
                <input matInput value="z:\job-folder\janedoe10-1-2021" />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Short Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Long Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <h3>Jobsite Info</h3>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Street Address</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>State</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="50%" fxFlex.xs="100%">
            <h3>Retail Co / Prop Manager</h3>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Street Address</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>State</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fax</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-checkbox color="primary">Fixed Price</mat-checkbox>
            <mat-checkbox color="primary">Print Est. Form</mat-checkbox>
            <mat-checkbox color="primary">OSC</mat-checkbox>
            <mat-checkbox color="primary">Create New Job Folder</mat-checkbox>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Arrival Window</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Rate First Hour</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Rate Each Addl.</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Tech</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>WO#</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>IVR#</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>IVR Pin#</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>IVR WO#</mat-label>
                <input matInput />
            </mat-form-field>
        </div>

        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end start">

            <button mat-button mat-dialog-close [mat-dialog-close]="true" >Cancel</button>
            <button mat-flat-button color="primary" [mat-dialog-close]="true" > Save & Close </button>
        </div>

    </div>
</mat-dialog-content>