<mat-card class="card">
  <mat-toolbar class="page-header">
      <div class="title-inner-wrapper">
        <p>Dashboard</p>
      </div>
  </mat-toolbar>
</mat-card>

<div class="charts-wrapper">
  <div class="chart">
    <mat-card class="red-bg">
      <mat-card-content>
        <h4 class="color-red">125</h4>
        <p class="text-muted">Inqueries</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="chart">
    <mat-card class="green-bg">
      <mat-card-content>
        <h4 class="color-green">214</h4>
        <p class="text-muted">Quotations</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="chart">
    <mat-card class="blue-bg">
      <mat-card-content>
        <h4 class="color-blue">245</h4>
        <p class="text-muted">Proposals</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="chart">
    <mat-card class="pink-bg">
      <mat-card-content>
        <h4 class="color-pink">253</h4>
        <p class="text-muted">Invoices</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

