@import './assets/scss/variables.scss';
@import './assets/scss/common-style.scss';
@import './assets/scss/media-queries.scss';
@import './assets/scss/fonts.scss';
@import './assets/scss/calendar.scss';

html, body { height: 100%; }
body { margin: 0;
  background-color:#f0f7fa;
  box-sizing: border-box;
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: "poppinsregular" !important);
@include mat-core($custom-typography);