.required {
    padding: 18px 0 0 0;
}

.addLabel {
    margin: 10px 0 0 0;
}
.template {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0 0;
    h2 {
        margin: 0;
    }
    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
    }
}

