<h2 mat-dialog-title>Add New Template</h2>
<mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap" fxLayoutGap="15px grid">
        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Template Name</mat-label>
                <input matInput placeholder="Template Name">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="15px grid">
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Question Name</mat-label>
                <input matInput placeholder="Question Name">
            </mat-form-field>
        </div>
        <div fxFlex="25%" fxFlex.lg="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
            <mat-form-field appearance="outline">
                <mat-label>Question Type</mat-label>
                <mat-select>
                    <mat-option value="one">Text Field</mat-option>
                    <mat-option value="three">Single Choice</mat-option>
                    <mat-option value="four">Multiple Choice</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="15%" fxFlex.lg="15%" fxFlex.md="15%" fxFlex.sm="15%" fxFlex.xs="100%">
            <mat-checkbox class="example-margin" color="primary" class="required">Required</mat-checkbox>
        </div>
        <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%" fxLayoutAlign="end start">
            <button mat-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="15px grid">
        <div fxFlex="5%" fxFlex.lg="5%" fxFlex.md="5%" fxFlex.sm="5%" fxFlex.xs="100%">
            <mat-checkbox class="example-margin" color="primary" class="required"></mat-checkbox>
        </div>
        <div fxFlex="90%" fxFlex.lg="90%" fxFlex.md="90%" fxFlex.sm="90%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Label</mat-label>
                <input matInput placeholder="Label">
            </mat-form-field>
        </div>
        <div fxFlex="5%" fxFlex.lg="5%" fxFlex.md="5%" fxFlex.sm="5%" fxFlex.xs="100%">
            <button mat-icon-button color="primary" class="addLabel">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="15px grid">
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Question Name</mat-label>
                <input matInput placeholder="Question Name">
            </mat-form-field>
        </div>
        <div fxFlex="25%" fxFlex.lg="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
            <mat-form-field appearance="outline">
                <mat-label>Question Type</mat-label>
                <mat-select>
                    <mat-option value="one">Text Field</mat-option>
                    <mat-option value="three">Single Choice</mat-option>
                    <mat-option value="four">Multiple Choice</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="15%" fxFlex.lg="15%" fxFlex.md="15%" fxFlex.sm="15%" fxFlex.xs="100%">
            <mat-checkbox class="example-margin" color="primary" class="required">Required</mat-checkbox>
        </div>
        <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%" fxLayoutAlign="end start">
            <button mat-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>

        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="15px grid">
        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <button mat-flat-button color="primary">Save</button>
        </div>
    </div>
    <div class="template">
        <div fxLayout="row wrap" fxLayoutGap="15px grid">
            <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <h2>Signatures from customer</h2>
            </div>
            <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <h3>Is customer on site?</h3>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" value="1">Yes</mat-radio-button>
                    <mat-radio-button color="primary" value="2">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Materials</mat-label>
                    <input matInput placeholder="Materials">
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>