<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>
                <img class="black" src="assets/images/customer-black.svg" />
                <img class="blue" src="assets/images/customer-blue.svg" />
                <span>Customer</span>
            </ng-template>
            <div class="typeOfCustomer">
                <div fxLayout="row wrap" fxLayoutGap="15px grid" class="radioBtn">
                    <div fxFlex="100%">
                        <div class="heading">
                            <mat-card-title> Type of Customer</mat-card-title>
                        </div>
                        <div class="toggleButton">
                            <span>Retail</span>
                            <mat-slide-toggle [formControl]="customerType" (change)='selectedCustomerType()'>Residential
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchCustomer">
                <div fxLayout="row wrap" fxLayoutGap="15px grid">
                    <div fxFlex="40%">
                        <mat-form-field appearance="outline" *ngIf="setCustomerType === 'Retail'">
                            <mat-label>Search Retail and Store</mat-label>
                            <mat-select>
                                <mat-optgroup label="Insight, 650 Village Trace, (888) 494-6744" class="retailName">
                                    <mat-option value="pokemon">
                                        H&M, 829 State St Santa Barbara, (888) 979-4469
                                    </mat-option>
                                    <mat-option value="pokemon">
                                        H&M, 650 Village Trace, (888) 979-4469
                                    </mat-option>
                                    <mat-option value="pokemon">
                                        H&M, 829 State St Santa Barbara, (888) 979-4469
                                    </mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="RSM, 461 From Rd Second Floor Paramus, (973) 786-6549">
                                    <mat-option value="pokemon">
                                        Aveda, 651 Paseo Nuevo Santa Barabra, (888) 970-3567
                                    </mat-option>
                                    <mat-option value="pokemon">
                                        Aveda, 651 Paseo Nuevo Santa Barabra, (888) 970-3567
                                    </mat-option>
                                    <mat-option value="pokemon">
                                        Aveda, 651 Paseo Nuevo Santa Barabra, (888) 970-3567
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline"
                            *ngIf="setCustomerType === 'Residential'">
                            <mat-label>Search Customer</mat-label>
                            <mat-select>
                                <mat-option value="one">
                                    <span>Smith, Steve -1467854378 </span>
                                </mat-option>
                                <mat-option value="two">
                                    <span>William, Marcus -6132457665</span>
                                </mat-option>
                                <mat-option value="two">
                                    <span>Doe, Jane -9107658990</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxFlex="30%">
                        <div class="zipCode">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Zip Code</mat-label>
                                <input matInput placeholder="Enter Zip Code" />
                            </mat-form-field>
                            <p class="errorMessage"> Zipcode outside of service area.</p>
                        </div>


                    </div>
                    <div fxFlex="30%">
                        <mat-checkbox class="zipCheckBox" color="primary">Do you still want to add customer?
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="retail" *ngIf="setCustomerType === 'Retail'">
                <div>
                    <div fxLayout="row wrap" fxLayoutGap="15px grid">
                        <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <h2 class="heading">Retail Group</h2>
                        </div>

                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Retail Group Name</mat-label>
                                <input matInput placeholder="Retail Group Name" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Address" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="City" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Zip Code</mat-label>
                                <input matInput placeholder="Zip Code" />
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <mat-checkbox class="checkBox" color="primary">Update Existing Retail Group</mat-checkbox>
                <div>
                    <h2 class="heading">Store </h2>
                    <div fxLayout="row wrap" fxLayoutGap="15px grid">
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Store Name</mat-label>
                                <input matInput placeholder="Store Name" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Address" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="City" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Zip Code</mat-label>
                                <input matInput placeholder="Zip Code" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                            <mat-checkbox class="checkBox" color="primary">Update Existing Store</mat-checkbox>
                        </div>
                        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                            <mat-checkbox class="checkBox" color="primary">OSC / Estimate</mat-checkbox>
                        </div>
                    </div>
                </div>


            </div>

            <div class="retail" *ngIf="setCustomerType === 'Residential'">
                <div fxLayout="row wrap" fxLayoutGap="15px grid">
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Street Address</mat-label>
                            <input matInput placeholder="Street Address" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="State" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="City" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Zip Code</mat-label>
                            <input matInput placeholder="Zip Code" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                        <mat-checkbox class="checkBox" color="primary">Update Existing Customer</mat-checkbox>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                        <mat-checkbox class="checkBox" color="primary">OSC</mat-checkbox>
                    </div>
                </div>
            </div>

            <div>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>
                <img class="black" src="assets/images/service-request-black.svg" />
                <img class="blue" src="assets/images/service-request-blue.svg" />
                <span>Service Request</span>
            </ng-template>
            <div class="retail" *ngIf="setCustomerType === 'Retail'">
                <div fxLayout="row wrap" fxLayoutGap="15px grid">
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Work Order Number</mat-label>
                            <input matInput placeholder="Work Order Number" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Work Summary</mat-label>
                            <input matInput placeholder="Work Summary" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>NTE / DNE</mat-label>
                            <input matInput placeholder="NTE / DNE" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Full Work Description (Form Work Order Paperwork)</mat-label>
                            <textarea matInput placeholder="Full Work Description"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <h2 class="heading">IVR</h2>
                    </div>

                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>PIN</mat-label>
                            <input matInput placeholder="Pin" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>WO</mat-label>
                            <input matInput placeholder="WO" />
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="retail" *ngIf="setCustomerType === 'Residential'">
                <div fxLayout="row wrap" fxLayoutGap="15px grid">
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Short Description</mat-label>
                            <input matInput placeholder="Description" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Medium Description (Emails Only)</mat-label>
                            <input matInput placeholder="Description" />
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Work Detail / Notes</mat-label>
                            <textarea matInput placeholder="Detail / Notes"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            <img class="black" src="assets/images/technician-black.svg" />
            <img class="blue" src="assets/images/technician-blue.svg" />
            <span>Assign Technician</span>
        </ng-template>

        <div class="retail" *ngIf="setCustomerType === 'Residential'">
            <div fxLayout="row wrap" fxLayoutGap="15px grid">
                <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose Category</mat-label>
                        <mat-select>
                            <mat-optgroup label="Remodels">
                                <mat-option value="pokemon">
                                    Commercial Remodels
                                </mat-option>
                                <mat-option value="pokemon">
                                    Home Remodels
                                </mat-option>
                                <mat-option value="pokemon">
                                    Bathroom Remodels
                                </mat-option>
                                <mat-option value="pokemon">
                                    Kitchen Remodels
                                </mat-option>
                            </mat-optgroup>
                            <mat-optgroup label="Repairs">
                                <mat-option value="pokemon">
                                    Retail & Facility Maintenance
                                </mat-option>
                                <mat-option value="pokemon">
                                    Apartment Handyman Repair
                                </mat-option>
                                <mat-option value="pokemon">
                                    Rental Property Repair
                                </mat-option>
                                <mat-option value="pokemon">
                                    Handyman Repair
                                </mat-option>
                            </mat-optgroup>
                            <mat-optgroup label="Carpentry">
                                <mat-option value="pokemon">
                                    Moulding & Trim Installs
                                </mat-option>
                                <mat-option value="pokemon">
                                    Laminate Floor Repair
                                </mat-option>
                                <mat-option value="pokemon">
                                    Fence Repairs & Gates
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Hour</mat-label>
                        <input matInput placeholder="First Hour" />
                    </mat-form-field>
                </div>
                <div fxFlex="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Each Additional Hour</mat-label>
                        <input matInput placeholder="Each Additional Hour" />
                    </mat-form-field>
                </div>
                <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose Technician</mat-label>
                        <mat-select [formControl]="technician">
                            <mat-option *ngFor="let technician of technicianList" [value]="technician">{{technician}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                    <mat-form-field appearance="outline">
                        <mat-label>Helpers</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="retail" *ngIf="setCustomerType === 'Retail'">
            <div fxLayout="row wrap" fxLayoutGap="15px grid">
                <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose Technician</mat-label>
                        <mat-select [formControl]="technician">
                            <mat-option *ngFor="let technician of technicianList" [value]="technician">{{technician}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                    <mat-form-field appearance="outline">
                        <mat-label>Helpers</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div>
            <button mat-flat-button color="primary" (click)="openDialog()">Set Appointment</button>
        </div>
    </mat-step>
</mat-stepper>