<h2 mat-dialog-title>Add New Category</h2>
<mat-dialog-content class="mat-typography">

    <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Category Name</mat-label>
                <input matInput placeholder="First Name" />
            </mat-form-field>
        </div>
        <div fxFlex="80%" fxFlex.lg="80%" fxFlex.md="80%" fxFlex.sm="80%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Subcategory Name</mat-label>
                <input matInput placeholder="Last Name" />
            </mat-form-field>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="20%" fxFlex.xs="100%" fxLayoutAlign="end start">
            <button mat-mini-fab color="primary" class="addBtn">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>