<h2 mat-dialog-title>Add New Category</h2>
<mat-dialog-content class="mat-typography">

    <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="25%" fxFlex.lg="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Category Name</mat-label>
                <input matInput placeholder="Category Name" />
            </mat-form-field>
        </div>
        <div fxFlex="25%" fxFlex.lg="25%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Subcategory Name</mat-label>
                <input matInput placeholder="Subcategory Name" />
            </mat-form-field>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="20%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>First Hour</mat-label>
                <input matInput placeholder="First Hour" />
            </mat-form-field>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="20%" fxFlex.xs="100%">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Each Additional Hour</mat-label>
                <input matInput placeholder="Each Additional Hour" />
            </mat-form-field>
        </div>
        <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%" fxLayoutAlign="end start">
            <button mat-mini-fab color="primary" class="addBtn">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>